<div class="recipe-form-container">
  <form [formGroup]="recipeForm" (ngSubmit)="addRecipe()">
    <input type="text" formControlName="name" placeholder="Name">
    <input type="text" formControlName="description" placeholder="Description">
    <input type="text" formControlName="image" placeholder="Image URL">
    <div formArrayName="ingredients">
      <div *ngFor="let ingredient of getIngredientsControls(); let i = index">
        <input type="text" [formControlName]="i" placeholder="Ingredient">
      </div>
    </div>
    <div class="align">
      <button type="button" (click)="addIngredient()">Add Ingredient</button>
      <br><br>
      <button type="submit">Add Recipe</button>
      </div>
  </form>
</div>



